<div class="modal-header">
   <h3 id="myModalLabel">Add Daily Tasks</h3>
 </div>
 <div class="modal-body">
   <%= @shelver.first_name %> <%= @shelver.last_name %>
 </div>
 <div class="modal-footer">
   <button class="btn" class="close" data-dismiss="modal">Cancel</button>
   <button class="btn btn-primary">Add</button>
 </div>