<ul class="nav">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "All Carts", carts_path %></li>
	<li><%= link_to "All Shelvers", shelvers_path %></li>
	<!-- <li><a href="#">All Clerks</a></li> -->
	<!-- <li><a href="#">Shelf Reading</a></li> -->
	<li><%= link_to "Library Hours", library_hours_path %></a></li>
	<li><a href="#">Setup Wizard</a></li>
	<li><a href="#">Settings</a></li>
</ul>