<%= render 'menu' %>

<div class="container py-4">
	<div class="row">
		<div class="float-left">
			<h1>Spreadsheet Import</h1>
		</div>
	</div>
	<div class="row">
		<%= form_tag({:action => :import}, multipart: true) do %>
			<%= file_field_tag :file %>
			<%= submit_tag( "Import" ) %>
		<% end %>
	</div>
</div>
